@media (max-height: 56em) {
  .hero-me {
    font-size: 5.8rem;
  }

  .hero-txt {
    font-size: 3.8rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .hero-bottom {
    padding-top: 9rem;
  }

  .scroll-trigger {
    transform: translateY(calc(-100vh + 10rem));
  }

  .divider {
    margin-top: 110rem;
  }

  .ab-content {
    margin-top: 5rem;
    height: 45rem;
    width: 87rem;
  }

  .about-me-right {
    margin-top: auto;
  }

  .about-img {
    width: 45rem;
    height: auto;
  }

  .skills {
    margin-top: 5rem;
  }
}

@media (max-width: 84em) {
  .top-nav {
    right: 4rem;
    top: 1.2rem;
  }

  .top-title {
    left: 4rem;
    top: 3px;
  }

  .kgg-title {
    font-size: 2.8rem;
  }

  .hero-me {
    font-size: 5.8rem;
  }

  .hero-txt {
    font-size: 3.8rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .socials {
    right: 8px;
  }

  .project-description-box-left {
    right: 7%;
  }

  .project-description-box-right {
    left: 2%;
  }

  .project-text-box-left {
    right: 1%;
  }

  .project-text-box-right {
    left: 2%;
  }

  .project-img-box {
    height: 40rem;
    width: 65rem;
  }

  .top,
  .bottom {
    height: 4rem;
  }

  .left,
  .right {
    width: 4rem;
  }
}

@media (max-width: 75em) {
  .top-title {
    left: 3.3rem;
    top: 2px;
  }

  .kgg-title {
    font-size: 2.6rem;
  }

  .hero-me {
    font-size: 5.5rem;
  }

  .hero-txt {
    font-size: 3.5rem;
  }

  .hero-description {
    font-size: 1.7rem;
  }

  .top-nav-link {
    font-size: 1.6rem;
  }

  .ab-content {
    gap: 4.8rem;
    width: 85rem;
  }

  .about-img {
    width: 45rem;
    height: auto;
  }

  .socials {
    right: 5px;
  }

  .project-description-box-left {
    top: 18%;
    left: 20%;
  }

  .project-description-box-right {
    top: 48%;
  }

  .project-title {
    font-size: 2.8rem;
  }

  .project-text-box-left {
    width: 42rem;
  }

  .project-text-box-right {
    width: 42rem;
  }

  .project-img-box {
    height: 30rem;
    width: 50rem;
  }

  .skill {
    height: 18rem;
    width: 14rem;
  }

  .skill::before {
    width: 14rem;
    height: 14rem;
  }

  .skill img {
    height: 7rem;
    width: 7rem;
  }

  .one {
    height: 18rem;
  }

  .two {
    height: 24rem;
    top: -30%;
  }

  .three {
    top: -28%;
    height: 27rem;
  }

  .top,
  .bottom {
    height: 3.5rem;
  }

  .left,
  .right {
    width: 3.5rem;
  }
}

@media (max-width: 59em) {
  .top-title {
    top: -1px;
  }

  .top-nav {
    right: 3rem;
    top: 7px;
  }

  .hero-me {
    font-size: 5rem;
  }

  .hero-txt {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .container {
    height: 95%;
    width: 95%;
  }

  .page-title {
    top: 3%;
    font-size: 3.4rem;
  }

  .socials {
    position: fixed;
  }

  .ab-content {
    gap: 5rem;
    width: 65rem;
    height: 40rem;
  }

  .about-me-left {
    width: 37rem;
  }

  .about-me-left h3 {
    font-size: 2.8rem;
  }

  .about-me-left p {
    font-size: 1.4rem;
  }

  .about-img {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }

  .ab-work-together {
    font-size: 1.6rem;
  }

  .skills {
    width: 90%;
    height: 60%;
    gap: 1.5rem;
  }

  .skill {
    height: 15rem;
    width: 12rem;
  }

  .skill img {
    height: 6rem;
    width: 6rem;
  }

  .skill p {
    font-size: 1.6rem;
  }

  .skill::before {
    width: 12rem;
    height: 12rem;
  }

  .project-description-box-left {
    top: 20%;
    left: 15%;
  }

  .project-description-box-right {
    top: 52%;
  }

  .project-description {
    font-size: 1.1rem;
    width: 30rem;
  }

  .project-text-box-left {
    width: 30rem;
    right: 1%;
  }

  .project-year {
    font-size: 1.1rem;
    width: 2rem;
  }

  .project-title {
    font-size: 2.2rem;
  }

  .project-img-box {
    height: 25rem;
    width: 36rem;
  }

  .one {
    height: 12rem;
  }

  .two {
    height: 15rem;
    top: -30%;
  }

  .three {
    top: -40%;
    height: 20rem;
  }

  .project-img-box {
    height: 23rem;
    width: 33rem;
  }

  .card {
    width: 50rem;
    height: 35rem;
  }

  .contact {
    font-size: 1.6rem;
  }

  .contact-title {
    font-size: 3.4rem;
  }

  .cont-message {
    font-size: 1.4rem;
    width: 43rem;
  }

  .btn {
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
  }

  .socials-logo {
    height: 2rem;
    width: 2rem;
  }

  .top,
  .bottom {
    height: 3rem;
  }

  .left,
  .right {
    width: 3rem;
  }

  .copyright {
    bottom: 5rem;
  }
}

@media (max-width: 44em) {
  .tops {
    position: absolute;
  }

  .borders {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .hero-me {
    font-size: 4.6rem;
  }

  .hero-txt {
    font-size: 2.6rem;
  }

  .hero-bottom {
    width: 50rem;
  }

  .socials {
    position: fixed;
  }

  .nav {
    background-color: #f1f3f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    transition: all 0.5s ease-in;
    z-index: 99;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .top-nav-list {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .btn-mobile-nav {
    display: block;
  }

  .icon-mobile-nav[name='close-outline'] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .scroll {
    left: 4%;
  }

  .ab-content {
    gap: 2rem;
    width: 50rem;
  }

  .about-me-right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .ab-work-together {
    font-size: 1.4rem;
  }

  .project-img-box {
    height: 20rem;
    width: 30rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    display: none;
    visibility: hidden;
  }

  .project-text-box-left {
    width: 25rem;
    right: 1%;
    top: 30%;
  }

  .yr-left {
    margin-left: 0;
  }

  .project-text-box-right {
    width: 25rem;
    top: 35%;
  }

  .card {
    width: 48rem;
    height: 30rem;
  }

  .contact {
    font-size: 1.4rem;
  }

  .contact-title {
    font-size: 3.2rem;
  }

  .cont-message {
    font-size: 1.3rem;
    width: 40rem;
  }

  .btn {
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
  }

  .arrow-up {
    bottom: 5%;
  }

  .copyright {
    bottom: 2rem;
  }
}

@media (max-width: 34em) {
  .top-title {
    left: 1rem;
    top: 3px;
  }

  .kgg-title {
    font-size: 2.2rem;
  }

  .hero-me {
    font-size: 3.3rem;
  }

  .hero-txt {
    font-size: 2.2rem;
  }

  .hero-upper {
    width: 35rem;
  }

  .hero-bottom {
    width: 35rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }

  .page-title {
    top: 0;
    font-size: 2.4rem;
  }

  .ab-content {
    flex-direction: column-reverse;
    width: 30rem;
    height: 30%;
    transition: all 0.3s;
    margin-top: auto;
    gap: 9px;
  }

  .about-me-left {
    width: 90%;
  }

  .about-img {
    width: 20rem;
    height: auto;
  }

  .skill {
    width: 9rem;
    height: 11rem;
  }

  .skill::before {
    width: 9rem;
    height: 9rem;
  }

  .skill img {
    height: 4rem;
    width: 4rem;
  }

  .skill p {
    font-size: 1.2rem;
  }

  .projects {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .line {
    opacity: 0;
  }

  .project-text-box-left {
    width: 25rem;
    height: 6rem;
    left: 0;
    top: -1rem;
  }

  .project-text-box-right {
    height: 6rem;
    top: -5.5rem;
    left: 0;
  }

  .card {
    width: 35rem;
    height: 22rem;

    background-size: 7rem 7rem;
  }

  .contact {
    font-size: 1.2rem;
  }

  .contact-title {
    font-size: 2.5rem;
  }

  .cont-message {
    font-size: 1.1rem;
    width: 33rem;
  }

  .btn {
    font-size: 1.6rem;
    width: 11rem;
    height: 4rem;
  }

  .contact-btns {
    margin-top: 2rem;
  }

  .arrow-up {
    bottom: 5%;
  }

  .copyright {
    bottom: 1rem;
  }
}
